<h1> Twitter API Test</h1>
<div class='content'>
  <div id="search-box">
    <%= form_tag(root_path, method: :get) do %>
      <%= text_field_tag :tweet, nil,  id: "tweet_search", name: "keyword", placeholder: "キーワードを入力", style: "width: 200px;"%>
      <button title="検索" type="submit">検索</button>
    <% end %>
  </div>

<h2><%= "キーワード : #{@keyword}" if @keyword.present? %></h2>
<ul>
  <% @tweets.each.with_index(1) do |tweet, i| %>
  <li><%= "Tweet#{i} : #{tweet.contents}" %></li>
  <% end %>
</ul>
